.navbar {
  display: flex;
  align-items: center;
  margin: 1em 8em;
  font-size: 1.25em;
}

.navbar-boldlink {
  font-weight: 700;
  color: var(--primaryColor);
  text-decoration: none;
}

.navbar-icon {
  width: 50%;
}

.navbar-links {
  width: 50%;
  direction: rtl;
  padding: 1em;
}

.navbar-link {
  color: var(--mainWhite);
  padding: 0 3em 0 0;
  width: 15vw;
  display: inline;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-boldlink:hover {
  transition: all 0.2s ease;
  color: var(--primaryColor);
  text-decoration: none;
}
