.navbar {
  display: flex;
  align-items: center;
  margin: 1em 11%;
  font-size: 1.25em;
}

.navbar-boldlink {
  font-weight: 700;
  color: var(--primaryColor);
  text-decoration: none;
}

.navbar-icon {
  width: 50%;
}

.navbar-links {
  width: 50%;
  direction: rtl;
  padding: 1em;
}

.navbar-link,
.navbar-link:visited,
.navbar-link:active {
  color: var(--mainWhite);
  padding: 0 3em 0 0;
  width: 15vw;
  display: inline;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-boldlink:hover,
.navbar-boldlink:visited,
.navbar-boldlink:active  {
  transition: all 0.2s ease;
  color: var(--primaryColor);
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    font-size: 0.75em;
  }
  .navbar-icon,
  .navbar-links {
    width: 100%;
    text-align: center;

  }

  .navbar-boldlink:first-child {
    font-size: 3em;
  }
}
