.service-tier-parent {
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service-tier-child {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--accentColor);
  border-radius: 0.5em;
}

.service-tier-name {
  text-align: left;
  padding: 1em;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 2.25em;
}

.service-tier-child img {
  position: absolute;
  left: 63%;
  top: 63%;
  width: 90px;
  height: 90px;
}

.service-tier-child:hover {
  background-color: var(--primaryColor);
  transition: all 0.2s ease-in;
}

.service-tier-child:hover img {
  transition: all 0.5s ease-in;
  top: 85%;
}

@media only screen and (max-width: 600px) {
  .service-tier-child {
    width: 90%;
    height: 250px;
    margin-bottom: 1em;
  }

  .service-tier-name {
    font-size: 1.75em;
  }

  .service-tier-child img {
    width: 70px;
    height: 70px;
  }
}